<div class="articleList">
  <div
  class="article"
  *ngFor="let article of data; index as i; even as isEven"
  [ngClass]="{ even: isEven }"
  >
    <h2 title="Article n°{{ i+1 }}">{{ article.title }} <small class="text-muted">#{{ article.id }}</small></h2>
    <p class="text-justify">{{ article.content }}</p>
    <div class="dropdown text-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Modifier</a>
            <a class="dropdown-item text-danger" href="#">Supprimer</a>
        </div>
      </div>
  </div>
</div>
