.article {
  padding: 10px;
  margin: 10px 0;
  transition-duration: 0.5s;
  transition-property: all;
  border-radius: 10px;
  border: 1px solid #CCC;
}
.article h2 {
  color: #2a6279;
}

.article:nth-child(even) {
  background: #f6f6f6;
}
.article:nth-child(even) h2 {
  color: #AA0000;
}

.article:hover {
  background: #F0F0F0;
}

.article p {
  white-space: pre-line;
  word-wrap: break-word;
}
