.article {
  padding: 10px;
  margin: 10px 0;
  transition-duration: 0.5s;
  transition-property: all;
  border-radius: 10px;
}
.article h2 {
  color: #CC0000;
}

.article:nth-child(even) {
  background: #f6f6f6;
}
.article:nth-child(even) h2 {
  color: #CCCC00;
}

.article:hover {
  background: #F0F0F0;
}

.article p {
  white-space: pre-line;
}
